$color-primary: #f3c11d;
$color-secondary: #231f20;
$color-text-primary: #4a4a4a;
$color-offwhite: #fafafa;

$color-button-primary: radial-gradient(circle, rgba(255, 165, 2, 1) 0%, rgba(245, 145, 29, 1) 100%);
$color-button-primary-hover: #343e7d;
