$transition-header: all 0.333s linear;
$transition-general: all 250ms ease-in-out;

$box-shadow-small: 0px 2px 4px 0px rgba(74, 74, 74, 0.4);
$box-shadow-medium: 0px 5px 10px 0px rgba(74, 74, 74, 0.2);
$box-shadow-large: 0px 20px 40px 0px rgba(74, 74, 74, 0.15);

$border-radius-small: 4px;
$border-radius-medium: 8px;

@import "colors";
@import "typography";
