#footer {
    position: relative;
    text-align: center;
    background-color: $color-secondary;

    a {
        &:hover {
            color: $color-primary;
        }
    }

    .footer-logo {
        @include margin(bottom, 2rem);
        img {
            margin-top: -2rem;
            width: 175px;
            height: auto;
        }
    }

    .social-medias {
        @include margin(bottom, 1rem);
        img {
            padding: 0 1rem;
        }
    }

    hr {
        @include margin(bottom, 2rem);
        opacity: 50%;
    }

    .footer-navigation,
    .legal-navigation {
        @include margin(bottom, 2rem);

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            margin: 0;

            @include media-breakpoint-down(sm) {
                justify-content: flex-start;
            }
        }

        .nav-link {
            color: $color-offwhite;
            font-family: $font-secondary;
            font-weight: 600;
            padding: 0 1rem;
            text-decoration: none;

            &:hover {
                color: $color-primary;
            }
        }
    }

    .legal-navigation {
        @include media-breakpoint-down(md) {
            @include margin(bottom, 1rem);
        }

        ul {
            .nav-link {
                @include media-breakpoint-down(md) {
                    padding: 0;
                    padding-right: 1rem;
                }
            }
        }
    }

    .copyright-footer {
        // @include margin(bottom, 2rem);
        color: $color-offwhite;
        font-family: $font-secondary;
        font-weight: 600;
        font-size: 0.9rem;

        @include media-breakpoint-down(md) {
            margin: 0;
            padding-bottom: 2rem;

            text-align: left;
        }

        .copyright-footer-item {
            margin: 0;

            a {
                color: $color-offwhite;
                text-decoration: none;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}
