#header-halfpage {
    position: relative;
    z-index: 1;
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        position: relative;
        z-index: 3;
        min-height: inherit;

        h1 {
            @include padding-y-full;
            margin: 0;
            color: $color-offwhite;
        }
    }
}
