#masthead {
    position: sticky;
    top: 0;
    z-index: 10;
    transition: $transition-header;
    background-color: $color-secondary;

    @include media-breakpoint-down(md) {
        display: block;
        padding: 0;
    }

    /*--------------------------------------------------------------
     *CONTAINER WRAPPER
    --------------------------------------------------------------*/
    .container {
        display: flex;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    /*--------------------------------------------------------------
     *LOGO STYLES
     *MOBILE & DESKTOP EFFECT
    --------------------------------------------------------------*/
    .site-branding {
        img {
            transition: $transition-header;

            position: absolute;
            top: 1.25rem;
            width: 175px;
            height: auto;

            @include media-breakpoint-down(md) {
                width: 75px;
            }
        }
    }

    /*--------------------------------------------------------------
     *MENU NAVIGATION FROM WORDPRESS
     *MOBILE & DESKTOP EFFECT
    --------------------------------------------------------------*/
    .main-navigation {
        width: 100%;
        padding: 2rem 0;

        transition: $transition-header;

        @include media-breakpoint-down(md) {
            display: none;
            padding-top: 0;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                &:last-of-type {
                    .nav-link {
                        color: $color-text-primary;
                        background-color: $color-primary;
                        border-radius: $border-radius-small;
                        padding: 0.5rem 2rem;

                        &:hover {
                            color: $color-offwhite;
                        }
                    }
                }

                .nav-link {
                    color: $color-offwhite;
                    font-family: $font-secondary;
                    font-weight: 600;
                    text-decoration: none;
                    transition: $transition-general;
                    padding: 0 1rem;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }

            // Link active
            .current-menu-item {
                a {
                    color: $color-primary !important;
                }
            }
        }
    }

    /*--------------------------------------------------------------
     *MENU WRAPPER FOR LOGO AND HAMBUGER
     *MOBILE EFFECT
    --------------------------------------------------------------*/
    .menu-wrapper {
        @include media-breakpoint-down(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 15px 0;
        }
    }

    /*--------------------------------------------------------------
     *WHEN NAVBAR SCROLLED
     *MOBILE & DESKTOP EFFECT
    --------------------------------------------------------------*/
    &.header-scrolled {
        background-color: $color-offwhite;
        box-shadow: $box-shadow-medium;

        // Logo site
        .site-branding {
            padding: 10px 0;

            box-shadow: none;
            border-bottom-right-radius: none;
            border-bottom-left-radius: none;

            img {
                width: 75px;

                @include media-breakpoint-down(md) {
                    top: 0.5rem;
                }
            }
        }

        // Menu system from WordPress
        .main-navigation {
            @include media-breakpoint-down(md) {
                padding-top: 0;
            }

            .nav-link {
                color: $color-text-primary;
                transition: $transition-general;

                &:hover {
                    color: $color-primary;
                    text-decoration: none;
                }
            }

            // Link active
            &.current-menu-item {
                a {
                    color: $color-primary;
                }
            }
        }

        .hamburger {
            margin-top: 0;
            padding-top: 0;

            .hamburger-inner {
                top: 35px;
                background-color: $color-text-primary;

                &::before {
                    background-color: $color-text-primary;
                }

                &::after {
                    background-color: $color-text-primary;
                }
            }
        }
    }

    /*--------------------------------------------------------------
     *HAMBURGER STYLES
     *SHOW HAMBURGER ONLY ON MOBILE SCREEN
    --------------------------------------------------------------*/
    .hamburger {
        display: none;

        @include media-breakpoint-down(md) {
            display: block;
            padding: 15px 0;

            .hamburger-inner {
                top: 25px;
                background-color: $color-offwhite;

                &::before {
                    background-color: $color-offwhite;
                }

                &::after {
                    background-color: $color-offwhite;
                }
            }
        }
    }

    /*--------------------------------------------------------------
     *WHEN HAMBURGER CLICKED
     *MOBILE ONLY EFFECT
    --------------------------------------------------------------*/
    &.is-active {
        margin-bottom: 0;

        .main-navigation {
            @include media-breakpoint-down(md) {
                display: block;
                width: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    // min-height: 40vh;

                    li {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}
