.button-primary,
.button-secondary {
    display: inline-block;

    font-family: $font-secondary;
    font-weight: 700;
    text-decoration: none;

    transition: 250ms;

    border: none;
    outline: none;
    cursor: pointer;
}

.button-primary {
    position: relative;
    padding: 1rem 3rem;
    background: $color-primary;
    border-radius: $border-radius-small;
    color: $color-secondary;
    box-shadow: $box-shadow-small;

    &:hover {
        color: $color-secondary;
        top: 2px;
    }

    &:active {
        top: 4px;
    }
}

.button-secondary {
    position: relative;
    color: $color-offwhite;
    border-bottom: 2px solid $color-offwhite;

    &:hover {
        border-bottom: 2px solid $color-primary;
    }
}
