input,
textarea,
select {
    // width: 100%;
    background-color: $color-offwhite;
    border-radius: $border-radius-small;
    border: 2px solid $color-text-primary;
    outline: none;
    padding: 15px;

    &:focus {
        border: 2px solid $color-primary;
    }

    &::placeholder {
        opacity: 50%;
    }
}
