#popup {
  position: relative;
  z-index: 99;
  display: block;
  bottom: 0;
  left: 91%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  color: white;
  background-color: black;
  right: 0;
  padding: 20px;
}
.popup-closer {
  position:absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
.popup-closer:hover {
  background-color: white;
}
