.review-content {

    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .review-grid {
        width: 525px !important;
        background: #fff;
        margin-right: 40px;
        padding: 40px 25px 40px 25px;
        text-align: left;

        .star-ratings {
            color: #f3d0cc;
            font-size: 24px;
            padding-right: 7px;
        
        }

        h2 {
            font-family: 'Montserrat';
            color: #005b75;
            font-size: 26px;
            text-transform: inherit;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 34px;
            margin-top: 10px;
        }

        .eview-content-desc {
            p {
                color: #005b75;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 25px;
            }
        }

        .review-date {
            margin-bottom: 25px;
            min-height: 52px;
        }

        .review-content-desc {
            p {
                font-family: 'Montserrat';
                color: #005b75;
                font-size: 16px;
                margin-bottom: 25px;
            }
        }

        .review-reviewer-name {
            p {
                font-family: 'Montserrat';
                color: #005b75;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
            
            }
        }

        .review-reviewer-origin {
            p {
                font-family: 'Montserrat';
                color: #005b75;
                font-size: 16px;
                margin-bottom: 5px;
            
            }
        }

        .review-date {
            p {
                font-family: 'Montserrat';
                color: #005b75;
                font-size: 16px;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
    }
}

.slick-initialized {
    .slick-slide {
        display: block;
        margin-right: 40px;
        
    }
}